body {
  --color-text: #555555;
  --color-dark-1: #110A2A;
  --color-dark-2: #460159;
  --color-link: #2475b1;
  --color-link-hover: #2475b1;
  --color-bg: #DDDDDD;
  --color-panel: #FFFFFF;
  --color-tr: #EBE5FF;
}
body {
  background-color: var(--color-bg);
  width: 90%;
  margin: 0% 4% 4%;
  flex: 1;
  min-width: 480px;
}
body, p, .select {
  color: var(--color-text);
  font-family: 'PT Sans', sans-serif;
}
a,a:visited {
  text-decoration: none;
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}
h4 {
  margin-bottom: 0.5em;
}
select {
  background-color: var(--color-panel);
  border-color: var(--color-bg);
}
select, .checkwrap {
  display: inline-flex;
  font-size: inherit;
  color: inherit;
  padding: 2px;
  margin: 5px 0px;
  width: 200px;
}
.checkwrap>span {
  margin-left: 5px;
}
legi {
  padding: 0 0 0 1em;
  margin: 2px;
  display: block;
}
legl {
  display: block;
  padding: 0 0 0 5px;
  background: var(--color-panel);
}
table {
  position: relative;
  width: 100%;
}
table.tablesorter {
  margin:10px 0pt 13px;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr .header {
  padding: 5px 20px 5px 5px;
  background-image: url(updown.png);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .header:hover {
  background-color: var(--color-dark-2);
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(up.png);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(down.png);
}
th.headerSortUp {
  background-image: url(up.png);
}
th.headerSortDown {
  background-image: url(down.png);
}
th {
  text-align: left;
  color: var(--color-panel);
  background-color: var(--color-dark-1);
  padding: 5px;
}
td {
  text-align: left;
  color: var(--color-text);
  padding: 5px;
  word-break: break-word;
}
tr:nth-child(odd) {
  background-color: var(--color-tr);
}
tr:nth-child(even) {
  background-color: var(--color-panel);
}
.dropdown-container {
  margin: 0px 5px;
  /* min-width: 200px; */
  display: inline-block;
}
.row {
  padding: 0px;
  margin: 0px;
}
[class*='col-'] {
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}
.panel {
  height: auto;
  background-color: var(--color-panel);
  padding: 20px;
  margin: 3px;
}
.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}
.grid line {
  stroke: var(--color-bg);
}
.tick text {
  fill: var(--color-text);
}
#spinner {
  position: relative;
  height: 80px;
}
#checkbox-table {
  margin-bottom: 20px;
}
#num-matches {
  display: block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--color-dark-1);
  color: white;
  text-align: center;
}
