body {
  --color-text: #555555;
  --color-dark-1: #110A2A;
  --color-dark-2: #460159;
  --color-link: #BF2D38;
  --color-link-hover: #F2606B;
  --color-bg: #CCCCCC;
  --color-pane: #FFFFFF;
  --color-light-1: #DDD6F6;
}
::selection {
  background: var(--color-light-1);
}
::-moz-selection {
  background: var(--color-light-1);
}
body {
  background-color: var(--color-bg);
  width: 90%;
  margin: 0% 4% 4%;
  flex: 1;
  min-width: 480px;
}
body, p, .select {
  color: var(--color-text);
  font-family: 'PT Sans', sans-serif;
}
a, a:visited {
  text-decoration: none;
  color: var(--color-link);
}
a:hover {
  text-decoration: none;
  color: var(--color-link-hover);
}
h2 {
  margin-bottom: 1em;
}
h4 {
  margin-bottom: 0.5em;
}
select {
  background-color: var(--color-dark-1);
  color: #fff;
  border: none;
  height: 34px;
  width: 100%;
}
option {
  background-color: var(--color-pane);
  color: var(--color-text);
}
.ui-container>span {
  margin-left: 5px;
}
legi {
  padding: 0 0 0 1em;
  margin: 2px;
  display: block;
}
legl {
  display: block;
  padding: 0 0 0 5px;
  background: var(--color-pane);
}
table {
  position: relative;
  width: 100%;
}
table.tablesorter {
  margin:10px 0pt 13px;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr .header {
  padding: 5px 20px 5px 5px;
  background-image: url(updown.png);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .header:hover {
  background-color: var(--color-dark-2);
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(up.png);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(down.png);
}
th.headerSortUp {
  background-image: url(up.png);
}
th.headerSortDown {
  background-image: url(down.png);
}
th {
  text-align: left;
  color: var(--color-pane);
  background-color: var(--color-dark-1);
  padding: 5px;
}
td {
  text-align: left;
  color: var(--color-text);
  padding: 5px;
  word-break: break-word;
}
tr:nth-child(odd) {
  background-color: var(--color-light-1);
}
tr:nth-child(even) {
  background-color: var(--color-pane);
}
.row {
  padding: 0px;
  margin: 0px;
}
#render>.row {
  display: flex;
}
[class*='col-'] {
  padding: 0px;
  border: 5px solid var(--color-pane);
}
[class*='col-'].pane {
  background-color: var(--color-pane);
  padding: 20px;
  border: 5px solid var(--color-bg);
  height: auto;
}
.col-12 {
  width: 100%;
}
.grid line {
  stroke: var(--color-bg);
}
.tick text {
  fill: var(--color-text);
}
#spinner {
  position: relative;
  height: 80px;
}
#checkbox-table {
  /* margin-bottom: 20px; */
}
#num-matches, #download {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0px;
  margin: 0px;
  border: none;
  color: white;
  text-align: center;
}
#num-matches {
  width: 25%;
  background-color: var(--color-dark-2);
}
#download {
  width: 75%;
  background-color: var(--color-dark-1);
}
#download:hover {
  background-color: var(--color-dark-2);
}
