body {
  background-color: #DDDDDD;
  width: 90%;
  margin: 0% 4% 4%;
  flex: 1;
  min-width: 480px;
}
body, p, .select {
  color: #555555;
  font-family: 'PT Sans', sans-serif;
}
a,a:visited {
  text-decoration: none;
  color: #2475b1;
}
a:hover {
  color: #2B8BD4;
}
h4 {
  margin-bottom: 0.5em;
}
select {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
}
select, .checkwrap {
  display: inline-flex;
  font-size: inherit;
  color: inherit;
  padding: 2px;
  margin: 5px 0px;
  width: 200px;
}
.checkwrap>span {
  margin-left: 5px;
}
legi {
  padding: 0 0 0 1em;
  margin: 2px;
  display: block;
}
legl {
  display: block;
  padding: 0 0 0 5px;
  background: #ffffff;
}
table {
  position: relative;
  width: 100%;
}
th {
  text-align: left;
  color: #FFFFFF;
  background-color: #110A2A;
  padding: 5px;
}
td {
  text-align: left;
  color: #555555;
  padding: 5px;
  word-break: break-word;
}
tr:nth-child(odd) {
  background-color: #EBE5FF;
}
tr:nth-child(even) {
  background-color: #FFFFFF;
}
.dropdown-container {
  margin: 0px 5px;
  /* min-width: 200px; */
  display: inline-block;
}
.row {
  padding: 0px;
  margin: 0px;
}
[class*='col-'] {
  vertical-align: top;
  padding: 0px;
  margin: 0px;
}
.panel {
  height: auto;
  background-color: #FFFFFF;
  padding: 20px;
  margin: 3px;
}
.half-width {
  width: 50%;
}
.full-width {
  width: 100%;
}
.grid line {

  stroke: #cccccc;
}
.tick text {
  fill: #555555;
}
#spinner {
  position: relative;
  height: 80px;
}
#checkbox-table {
  margin-bottom: 20px;
}
#num-matches {
  display: block;
  height: 34px;
  width: 34px;
  line-height: 34px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #110A2A;
  color: white;
  text-align: center;
}
